<p>section works!</p>
<div class="form-group">
    <label><h2>Section</h2></label>
      <input
      type="text"
      id="studentSection"
       class="form-control"
       [(ngModel)]="section.studentSection">
       <select>
        <option>Select</option>
          <option *ngFor="let section of this.sections;let i = index" value="{{section}}" [selected]="i == 0">
            {{section.studentSection}}
          </option>
        </select>
        <div class="form-group">
          <button type="button" class="btn btn-block btn-primary" (click)="onClick()">
            Register
          </button>